body {
	margin:0px;
	background-color: #1D1E22;
}

div.container {
	display: grid;
	height: 100vh;
	width: 100vw;

	grid-template: ".corner1 .header .corner2" 11%
				   "#canvasID #canvasID #canvasID" auto
				   "#buttonID #progressID #progressID" 14%
				   / 14% auto 14%;
}

/*
Progress bar
*/

#progress-bar {
	width: 100%;
	height: 100%;
}

.label-center {
	color: white;
	text-shadow: none;
}


/*
Button
*/
.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 12em 0 0 0 var(--hover);
  transform: translate(0, 2px);
}

.button {
  background: none;
  border: 2px solid;
  font: Helvetica;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  color: var(--color);
  transition: 0.5s;
}



.button:hover, .button:focus {
  border-color: var(--hover);
  color: #fff;
}
